.unique-color{
    background:  blue;
}

.fix-top{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 56;
}

.fix-bottom{
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 56;
}

.small-chat{
    width: 300px;
    height: 400px;
}

.wide{
    margin-left: 10px;
    margin-right: 10px;
    bottom: 0;
}

.chat-room{
    display: none;
}

.small-inputname{
    width: 300px;
    height: 200px;
}

.ok-btn{
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.fix-center{
    position: absolute;
    top: 25%;
    left: 25%;
}

.dialog{
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1050;
    background-color: rgba(0, 0, 0, 0.5);
}

.show{
    display: block;
}

.small-video{
    width: 400px;
    height: 500px;
}

.msg_cotainer{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    border-radius: 25px;
    background-color: #82ccdd;
    padding: 10px;
    position: relative;
    max-width: 200px;
}
.msg_cotainer_send{
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
    border-radius: 25px;
    background-color: #78e08f;
    padding: 10px;
    position: relative;
    max-width: 200px;
}

.my-custom-scrollbar{
    overflow: scroll;
}

.videoremote{
    width: 300px;
    height: 400px;
}

.videolocal{
    width: 150px;
    height: 100px;
    position: absolute;
    bottom: 0;
    right: 0;
}